html
    head
        title= 'Shortified!'
        link(rel="stylesheet", href="/css/short.css")
    body
        div
            h3= shortifiedUrl
            br
            br
            a(href="/") Go Back?
    footer
        p Made by Ananjan Mitra
